#column1wrapper {
	margin-left: -300px;
	width:100%;
}
#column1 {
	float:left;

	margin-left: 300px;
	position: relative;

}


#article {
	font-size: 12pt;
	padding-bottom: 10px;
	line-height: 20pt;	
	text-align: justify;
}

#article h1 {
	padding: 0px;
	font-size: 22pt;
}

.shadow
{
    display:block;
    position:relative;
    float:left;
}
 
.shadow::before
{
    content:'';
    position:absolute;
    width:100%;
    height:100%;

    box-shadow:inset 0px 0px 10px 8px white;
}

#featured_image {
	width: auto;
	height: auto;

	max-width: 100%;
	max-height: 500px;


	float: left;

}

#container {
	-webkit-animation: infinite-spinning linear 12.4s infinite;

}

#articlecontent {
	margin-top:26px;

	clear:both;

	-webkit-animation: infinite-spinning linear 12.4s infinite;
	-webkit-animation-direction: alternate;
}

#logo {
	-webkit-animation: infinite-spinning linear 2.4s infinite;
	-webkit-animation-direction: alternate;
}
a {
	-webkit-animation: infinite-spinning linear 6.4s infinite;

}
#articlecontent:first-letter {
	font-size:x-large;
	font-weight: 900;
}

#articlecontent p {
	margin-top:1.5em;
	margin-bottom:1.5em;
}

#sidebar {
	padding-top:5px;
	width: 240px;
	float:right;

	position: relative;

	clear:none;
}

#sidebar h2 {
	font-size: 12pt;
}

#sidebar ul {
	list-style-type: none;
	padding: 0px;
	margin: auto;
}
#sidebar li {
	padding: 0px;
	margin: 0px;
	text-align: center;
	
	padding:10px;
	
	border-top: 1px dashed #6f6f6f;
}

#sidebar li:last-child {
	border-bottom: 1px dashed #6f6f6f;
}
#sidebar li:hover {
	background-color: rgb(255,255,200);
}


#authorimage {

	margin-top:10px;
	
	height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;

	border-radius: 5px;

	border: 1px solid #444;
	box-shadow: 0px 1px 4px black;
	-webkit-transition: -webkit-transform .3s ease;
	-moz-transition:  -moz-transform .3s ease;
}

#authorimage:hover {
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-webkit-transition: -webkit-transform .3s ease;
	-moz-transition:  -moz-transform .3s ease;
}

#disqus_thread {
	clear:both;
}
