#content {
	clear:both;
	padding-top:25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;


}

body {
	/*-webkit-animation: infinite-spinning linear 15s infinite;*/
}
#leftcolumn {
	float:left;
	width:30%;

	padding-bottom: 10px;
}


#middlecolumn {
	width:30%;

	margin:0 auto;
	clear:none;

	padding-bottom: 10px;
}

#rightcolumn {
	float:right;
	width:30%;
	position: relative;

	padding-bottom: 10px;
}

.section {
	padding: 0px 0px;
}

.section:last-child {
	border-bottom: 1px dashed black;
}

.section h1 {
	font-size: 16pt;
	margin: 0px;
	padding: 6px 0px;
	border-top: 1px #6c6c6c dashed;
	border-bottom: 1px #6c6c6c dashed;

	color:#6c6c6c;
	font-family: "Proxima Nova", "sans-serif";
	text-align: center;
}

.section h1:after {
	content:' »';
}

.article {
}
.article h2 {
	font-size: 13.5pt;
	text-align: left;
	padding: 0px;
	margin: 0px;
	padding:10px 0;

	font-family: 'Paletino', serif;
}

.articlemetadata {
	font-size: 8pt;
	font-family: "serif";
	font-weight: 600;
	padding-bottom: 8px;
}
.authors {
	float:left;
	clear:none;
	width: 60%;
	position: relative;
}

.date_published {
	float:right;
	text-align: right;
	text-transform: uppercase;
	width: 35%;
	clear:none;
	position: relative;

}

.articlecontent {
	font-weight: 100;
	text-align: justify;
}