{% extends 'base.html' %}

{% block head %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/section_index.css" type="text/css" />
{% endblock head %}

{% if query %}
    {% block searchtext %}{{query}}{% endblock searchtext %}
{% endif %}

{% block content %}
    <h2>Search</h2>
        {% if query %}
            


            {% for article in page.object_list %}
                <div class = "article">
                    <div class = "articleinfo">
                        <img src = "{% if article.featured_image %}
                            {{article.featured_image.url}}
                        {% else %}
                            {{STATIC_URL}}img/recordicon.png
                        {% endif %}
                        " />

                        <div class = "authors">
                            WRITTEN BY {% for author in author.objects.all %}
                                {{article}}
                            {% endfor %}
                        </div>
                    </div>
                    <div class = "articlewrapper">
                    <div class = "articlecontent">
                        <a href = "/articles/{{article.slug}}"><div class = "articletitle">{{article.title}}</div></a>


                        <div class = "articletext">
                        {{ article.text|safe|truncatewords:"250" }}
                        <a href = "/articles/{{article.slug}}"><b>Continue Reading</b></a>
                        </div>
                    </div>
                    </div>

                </div>

            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            swag.
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    
{% endblock %}