{% extends 'base.html' %}

{% block head %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/section_index.css" type="text/css" />
{% endblock head %}

{% if query %}
    {% block searchtext %}{{query}}{% endblock searchtext %}
{% endif %}

{% block content %}
    <div id = "sectionheader">Search</div>
        {% if query %}
            


            {% for result in page.object_list %}
                <div class = "article">
                    <div class = "articlewrapper" style = "margin:auto;">
                    <div class = "articlecontent" style = "margin:auto;">
                        <a href = "/articles/{{result.object.slug}}"><div class = "articletitle">{{result.object.title}}</div></a>


                        <div class = "articletext">
                        {{ result.object.text|safe|truncatewords:"200" }}
                        <a href = "/articles/{{result.object.slug}}"><b>Continue Reading</b></a>
                        </div>
                    </div>
                    </div>

                </div>

            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            swag.
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    
{% endblock %}