{% extends 'base.html' %}

{% block head %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/section_index.css" type="text/css" />

        <style type="text/css" media=screen>
        <!--
            #content a:hover {
                background-color: #ffffc8;
            }
        -->
        </style>
{% endblock head %}

{% block content %}
    <div id = "sectionheader">Search</div>
        {% for issue in issues %}

            <a href = "/archive/{{issue.volume}}/{{issue.issue}}">
                <div class = "article" style="min-height:100px;">
                    <div class = "articlewrapper" style = "margin:auto;">
                    <div class = "articlecontent" style = "margin:auto;">
                        <div class = "articletitle">Volume {{issue.volume}}, Issue {{issue.issue}}</div>
                        <div class = "articletext">
                            {{issue.date_published|date:'l F j, o'}}
                        </div>
                    </div>
                    </div>
                </div>
            </a>

            {% empty %}
                <p>No results found.</p>
            {% endfor %}


    
{% endblock %}