{% extends "base.html" %}
{% block title %}{{article.title}}{% endblock title %}

{% block head %}
		<link rel="stylesheet" href="{{STATIC_URL}}css/article_detail.css" type="text/css" />
{% endblock head %}

{% block content %}
	<div id = "column1wrapper">
	<div id = "column1">
		<div id = "article">
			<h1>{{article.title}}</h1>
			{{article.text|safe|escape}}
		</div>
	</div>
	</div>

	<div id = "sidebar">
		{# <p><div id = "authorimage" style = "background-image:url('{{STATIC_URL}}img/moon.jpeg')"></div></p> #}
		<img src = "{% if article.authors.all.0.profile_picture %}
			{{article.authors.all.0.profile_picture.url}}
		{% else %}
			http://bit.ly/QVmTS6
		{% endif %}
		" id = "authorimage"/>
		<p>Written by <b>{{ article.authors.all|join:', ' }}</b>

			<br />on <strong>August 23rd, 2012</strong> at <strong>4:05 PM</strong></p>
		
		<hr />
		<h2>More Articles by this Author</h2>
		<ul>
			<li><a href = "http://jeffbarg">Awesome College Planning App Made by Horace Mann Students</a></li>
			<li><a href = "http://jeffbarg">Awesome College Planning App Made by Horace Mann Students</a></li>
			<li><a href = "http://jeffbarg">Awesome College Planning App Made by Horace Mann Students</a></li>
			<li><a href = "http://jeffbarg">Awesome College Planning App Made by Horace Mann Students</a></li>
			<li><a href = "http://jeffbarg">Awesome College Planning App Made by Horace Mann Students</a></li>
			<li><a href = "http://jeffbarg">Awesome College Planning App Made by Horace Mann Students</a></li>
		</ul>
		
		<hr />
		 
	</div>

		<div id="disqus_thread"></div>
	        <script type="text/javascript">
	            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	            var disqus_shortname = 'therecordonline'; // required: replace example with your forum shortname

	            /* * * DON'T EDIT BELOW THIS LINE * * */
	            (function() {
	                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	            })();
	        </script>
	        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>
{% endblock content %}