{% extends "base.html" %}
{% block title %}{{article.title}}{% endblock title %}

{% block head %}
		<link rel="stylesheet" href="{{STATIC_URL}}css/article_detail.css" type="text/css" />
{% endblock head %}

{% block content %}
	<div id = "column1wrapper">
	<div id = "column1">
		<div id = "article">
			<h1>{{article.title}}</h1>
			{% if article.featured_image %}
			<a href = "{{article.featured_image.url}}" class = "shadow"><img src="{{article.featured_image.url}}" id = "featured_image" /></a>
			{% endif %}
			<div id = "articlecontent">
			{{article.text|safe|escape}}
			</div>
		</div>
	</div>
	</div>

	<div id = "sidebar">
		{# <p><div id = "authorimage" style = "background-image:url('{{STATIC_URL}}img/moon.jpeg')"></div></p> #}
		<img src = "{% if article.authors.all.0.profile_picture %}
			{{article.authors.all.0.profile_picture.url}}
		{% else %}
			{{STATIC_URL}}img/recordicon.png
		{% endif %}
		" id = "authorimage"/>
		<p>Written by <b>{{ article.authors.all|join:', ' }}</b>

			<br />on <strong>{{article.date_published|date:'F j, o'}}</strong> at <strong>{{article.date_published|date:'g:i A'}}</strong></p>
		
		<hr />
		<h2>More Articles By This Author</h2>
		<ul>
			{% if author.articles.all.count > 1 %}
				{% for other_article in author.articles.all %}
					{% if article != other_article %}
						<a href = "/articles/{{other_article.slug}}"><li>{{other_article.title}}</li></a>
					{% endif %}
				{% endfor %}
			{% else %}
				<i>No Other Articles</i>
			{% endif %}

		</ul>
		

		 
	</div>

		<div id="disqus_thread"></div>
	        <script type="text/javascript">
	            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	            var disqus_shortname = 'therecordonline'; // required: replace example with your forum shortname

	            /* * * DON'T EDIT BELOW THIS LINE * * */
	            (function() {
	                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	            })();
	        </script>
	        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>
{% endblock content %}