{% extends "base.html" %}
{% block title %}The Record{% endblock title %}

{% block head %}
		<link rel="stylesheet" href="{{STATIC_URL}}css/article_index.css" type="text/css" />
{% endblock head %}

{% block content %}
		<div id = "leftcolumn">
			<div class = "section">
				<a href = "/sections/lionsden/"><h1>Lion's Den Highlights</h1></a>
				{% for article in oped_articles %}
					<div class = "article">
						<a href = "/articles/{{article.slug}}"><h2>{{article.title}}</h2></a>
						<div class = "articlemetadata">
							<div class = "authors">BY {{article.authors.all|join:', '|upper}}</div> 
							<div class = "date_published">JULY 27TH, 2012</div>
						</div>
						<div class = "articlecontent">
							{{article.text|safe|escape|truncatewords:"60"}}
							<strong><a href = {{article.get_absolute_url}}>Continue Reading</a></strong>
						</div>
					</div>
				{% endfor %}
			</div>
			

		</div>

		<div id = "rightcolumn">

		</div>

		<div id = "middlecolumn">

		</div>
{% endblock content %}