{% extends "base.html" %}
{% block title %}{{category}}{% endblock title %}

{% block head %}
		<link rel="stylesheet" href="{{STATIC_URL}}css/section_index.css" type="text/css" />
{% endblock head %}

{% block content %}

<div id = "sectionheader">
{{category}}
</div>

{% load thumbnail %}

{% for article in articles %}
	<div class = "article">
		<div class = "articleinfo">
			<img src = "{% thumbnail article.authors.all.0.profile_picture "150x150" as thumb %}
				{{thumb.url}}
			{% else %}
				{{STATIC_URL}}img/recordicon.png
			{% endif %}
			" />

			<div class = "authors">
				WRITTEN BY {{article.authors.all|join:', '|upper}}
			</div>
		</div>
		<div class = "articlewrapper">
		<div class = "articlecontent">
			<a href = "/articles/{{article.slug}}"><div class = "articletitle">{{article.title}}</div></a>

			<div class = "articletext">
			{{article.text|safe|truncatewords:"250"}}<a href = "/articles/{{article.slug}}"><b>Continue Reading</b></a>
			</div>
		</div>
		</div>

	</div>
{% endfor %}

{% endblock content %}